<div style="width: 100%; min-height: 1600px;
            background-color: #dbdbdb; ">

    <div style="width: 1200px;
    height: 1200px;
    margin: auto; 
    border-radius: 0;
    background-color: #dd23be00;">


    

        <div style="
        background-color: #353535;
        border-left: 1px solid #d3d1d1;
        border-right: 1px solid #d3d1d1;
        padding: 50px;">


<button [disabled] = "false" mat-button 
style="width: 130px; 
      background-color: #ffffff; 
      margin-bottom: 20px; 
      color: #000000; 
      margin-left: 30px;     
      border-radius: 3px; 
      border: 1px solid #080808; float: right;"
       *ngIf = "(authService.getUser()|async) && (movie_status)"
       (click)="openAddMovieDataDialog()" 
      >
Add Metadata
</button> 
          

     <button [disabled] = "false" mat-button 
     style="width: 120px; 
           background-color: #ffffff; 
           margin-bottom: 20px; 
           color: #000000; 
           margin-left: 30px;     
           border-radius: 3px; 
           border: 1px solid #080808; float: right;" (click)="openReviewDialog()"
        *ngIf = "(authService.getUser()|async)" 
           >
Add Review
</button> 
                <div style="height: 25px;
                color: #ffffff;
                background-color: #ffffff00;
                font-size: 18px;
                font-weight: 900;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                padding-top: 6px; padding-left: 4px;">

                {{movie.originalTitleText.text}} ({{movie.releaseDate.year}})
                </div>
<br>

                <div style="height: 370px;">

                    <div style="height: 370px; width: 250px; float: left;  background-size: cover; background-image: url({{movie.primaryImage.url}});">
                       
                    </div>
                    <div style="float: left; margin-left: 20px;">
                        <iframe style="margin-top: -2px" width="650" height="364" [src]="trailer_url" *ngIf = "!(movie_status)">
                        </iframe>
                        <div style="color:#f03b3b ; font-weight: 500;" *ngIf = "(message)">
                            Only Brief Record is Available - you can add more information by pressing "Add Metadata" (login required)
                        
                        </div>
                        
                        <div style="margin-left: 20px; text-align: center;  top: -50px;" *ngIf = "spinnerStatus">
                            <mat-spinner diameter="25"> 
                            </mat-spinner>
                          </div>
                        
                                    

                    </div>
            
                </div>
                <br>
                <div style="border-radius: 10px; width: 100px; color:#ffffff ; text-align: center; 
                border: 1px solid #ffffff;" *ngIf = "!(movie_status)">
                    {{genre}}

                </div>
<br>

<div style="color:#ffffff ;" *ngIf = "!(movie_status)">
    {{description}}

</div>




<br>
<br>








<br>
<div  *ngFor = "let review of reviews,  let i = index" style="max-height: 450px; background-color: #ffffff; padding-right: 20px; color: #141414;">
    <mat-divider style="width: 100%;"></mat-divider><br>
<div style="margin-left: 20px; word-break: break-all; ">

    <div>
        <button [disabled] = "true" style=" width:80px;height:80px; 
        background-size:100% 100%; margin-top: 3px; margin-right: 30px;  margin-left: 0px;
        background-color: #a0cef3; 
        background-image: url({{review.image_url}});" mat-fab aria-label="Example icon button with a delete icon" >
      
      
        </button>

    </div>
    <div style="margin-top: 3px; margin-left:10px;">
        {{review.name}}

    </div>
    <br>
    <div>
        {{review.review}}
        <br><br><br>


    </div>
    <mat-icon style="color: #e7ad0e; margin-bottom: 3px;" *ngFor="let number of [].constructor(review.rating)">star</mat-icon>



</div>

        </div>


    </div>
</div>




<br>
